body{
  margin:0;
  height:100vh;
  background:radial-gradient(circle,#ff5fd2,#7b2cbf,#240046);
  color:white;
  font-family:Arial, sans-serif;
  overflow:hidden;
}

/* SCREENS */

#portalScreen,#dateScreen,#surpriseScreen{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  position:relative;
}

#dateScreen,#surpriseScreen{
  display:none;
}

/* PORTAL */

.portal{
  position:absolute;
  width:120vmax;
  height:120vmax;
  background:conic-gradient(#ffb3ff,#ff5fd2,#b5179e,#7209b7,#560bad,#ffb3ff);
  border-radius:50%;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:0;
}

.portalText{
  background:rgba(0,0,0,0.5);
  padding:40px;
  border-radius:25px;
  position:relative;
  z-index:2;
}

/* BUTTON */

button{
  padding:12px 30px;
  border:none;
  border-radius:25px;
  background:#ff5fa2;
  color:white;
  margin:10px;
  cursor:pointer;
  font-size:16px;
}

button:hover{
  background:#ff85c2;
}

/* DATE GRID */

.dates{
  display:grid;
  grid-template-columns:repeat(2,120px);
  gap:15px;
}

/* TEXT SHADOW */

h1,h2,p{
  text-shadow:0 0 10px rgba(0,0,0,0.6);
}
