<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Love World ❤️</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<!-- PORTAL SCREEN -->
<div id="portalScreen">
  <div class="portal"></div>

  <div class="portalText">
    <h1>Prashant, I made something special for you ❤️</h1>
    <p>Are you ready to enter my Love World?</p>
    <button onclick="enterWorld()">Enter Love World 💖</button>
  </div>
</div>

<!-- DATE SCREEN -->
<div id="dateScreen">
  <h2>Select A Date 💝</h2>

  <div class="dates">
    <button onclick="selectDate(7)">7 Feb</button>
    <button onclick="selectDate(8)">8 Feb</button>
    <button onclick="selectDate(9)">9 Feb</button>
    <button onclick="selectDate(10)">10 Feb</button>
    <button onclick="selectDate(11)">11 Feb</button>
    <button onclick="selectDate(12)">12 Feb</button>
    <button onclick="selectDate(13)">13 Feb</button>
    <button onclick="selectDate(14)">14 Feb</button>
  </div>
</div>

<!-- SURPRISE SCREEN -->
<div id="surpriseScreen"></div>

<script src="script.js"></script>
</body>
</html>
